black==23.3.0
Django==4.2.1
django-cors-headers==4.0.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Faker==18.9.0
psycopg2-binary==2.9.6
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
typing_extensions==4.5.0
